.filters-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: white;
	padding: 2rem;
}

.filters-container > div {
	padding-right: 2rem;
	border-right: 1px solid lightgray;
}

.filters-container > div > p {
	font-size: 1.4rem;
	font-weight: 500;
	color: rgb(158, 156, 156);
}

.filters-container > div > input,
select {
	width: 20rem;
	border: none;
	padding: 0.6rem;
	color: rgb(0, 0, 69);
	font-size: 1.6rem;
	font-weight: 600;
}

.filters-container > div > input::placeholder {
	color: rgb(0, 0, 69);
	font-size: 1.6rem;
	font-weight: 600;
}
